@model Pokemon.Models.Pokedata

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pokedata</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.base_experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.base_experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_default)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_default)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location_area_encounters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location_area_encounters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
